PokeTool {
    flex-grow: 1;
    flex-direction: row;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
}

PokemonBrowser {
    min-width: 150px;
}

.browser-toolbar {
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    align-content: flex-start;
    justify-content: flex-start;
    min-width: auto;
}

.browser-search-field {
    flex-grow: 1;
    flex-wrap: nowrap;
    width: auto;
}

PokemonDataEditor {
    background-color: rgba(169, 134, 214, 0.35);
    flex-grow: 1;
}

PokemonListView {
    border-right-width: 1px;
    border-left-color: rgb(41, 41, 41);
    border-right-color: rgb(41, 41, 41);
    border-top-color: rgb(41, 41, 41);
    border-bottom-color: rgb(41, 41, 41);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 5px;
}

.list-entry {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
    align-content: flex-start;
}

.list-entry > .entry-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
}

.delete-button {
    align-self: flex-end;
    flex-shrink: 0;
}

.sprite-preview {
    align-self: flex-end;
}

.field-modified > .unity-base-field__label {
    -unity-font-style: bold;
}

.field-modified {
    border-left-width: 2px;
    border-left-color: rgb(255, 255, 255);
}
